.cardteam {
    background-color: red;
    position: relative;
    height: 200px;
    &__content {
        background-color: $color-white;
        position: absolute;
        padding: 0.5rem;
        bottom: 5%;
        width: 95%;
        left: 2.5%;
    }

    &__title {
        display: block;
    }

    &__description {
        display: block;
    }
}