//colore 
$color-alzarin: #e74c3c;
$color-sun-flower: #f1c40f;
$color-mine-shaft: #333333;
$color-gallery: #ecf0f1;
$color-white: #FFFFFF;
$color-black: #000000;
$color-mazarine-blue: #273c75;
$color-skirret-green: #44bd32;

$color-primary: $color-mazarine-blue;
$color-secondary: $color-skirret-green;
$color-font: $color-mine-shaft;