//colore 
$color-alzarin: #e74c3c;
$color-sun-flower: #f1c40f;
$color-mine-shaft: #333333;
$color-purple: #742584;
$color-blue: #6DC0E3;
$color-yellow: #D6D143;
$color-red: #B13F38;
$color-red-clear: #BE7A70;
$color-gallery: #ecf0f1;
$color-white: #FFFFFF;
$color-black: #000000;

$color-primary: $color-purple;
$color-secondary: $color-blue;
$color-font: $color-mine-shaft;