//colore 
$color-alzarin: #e74c3c;
$color-sun-flower: #f1c40f;
$color-mine-shaft: #333333;
$color-wisteria: #8e44ad;
$color-belize: #2980b9;
$color-gallery: #F0F0F0;
$color-white: #FFFFFF;
$color-black: #000000;

$color-primary: $color-wisteria;
$color-secondary: $color-sun-flower;
$color-font: $color-mine-shaft;