@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$ff-p: 'Poppins', sans-serif;

//sizes 
$fs-xs: 16px;
$fs-sm: 18px;
$fs-md: 24px;
$fs-lg: 32px;
$fs-xl: 40px;
$fs-bg: 48px;
$fs-xb: 56px;

//weights
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
    font-family: $ff-p;
    color: $color-font;
}

a {
    @include link {
        color: $color-primary;
    }
    @include hover {
        color: darken($color-primary, 10%)
    }

    &.link-white {
        @include link {
            color: $color-white;
        }
        @include hover {
            color: darken($color-white, 10%)
        }
    }
}

span {
    &.lighted {
        background-color: $color-primary;
        display: inline-block;
        padding: 0 0.75rem;
        color: $color-white;

        &--secondary {
            background-color: $color-secondary;
        }
    }
}

//text
.text {
    &--title {
        font-size: $fs-md;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        margin-bottom: 1rem;
        font-weight: $fw-6;
        @include media('xs') {
            font-size: $fs-xl;
        }
        @include media('md') {
            font-size: $fs-xb;
        }
    }

    &--slogan {
        font-size: $fs-sm;
        letter-spacing: .20rem;
        line-height: 1.3;
        font-weight: $fw-5;
        @include media ('xs') {
            font-size: $fs-lg;
        }
        @include media('md') {
            font-size: $fs-xl;
        }
    }

    &--subtitle {
        font-size: $fs-lg;
        letter-spacing: .20rem;
        line-height: 1.3;
        font-weight: $fw-5;
        margin-bottom: 1rem;
        @include media('xs') {
            font-size: $fs-lg;
        }
        @include media('md') {
            font-size: $fs-xl;
        }  
        @include media('xl') {
            font-size: $fs-bg;
        }
        &--white {
            color: $color-white;
        }
        &--primary {
            color: $color-primary;
        } 
    }

    &--lead {
        font-size: $fs-md;
        letter-spacing: .05rem;
        font-weight: $fw-5;
        @include media('md') {
            font-size: $fs-md;
        }
    }

    &--body {
        font-size: $fs-sm;
        @include media('md') {
            font-size: $fs-sm;
        }
        &--white {
            color: $color-white;
        }
    }

    &--small {
        font-size: $fs-xs;
    }
}

.hr {
    &--basic {
        width: 30%; 
        border-top: 5px solid $color-black;
        margin: 0 auto;
    }
}
